.home{
    max-width: 900px;
    margin: 0 auto;
    border: 5px solid white;
    text-align: center;
}
.rule3{
    max-width: 900px;
    margin: 0 auto;
    border: 5px solid white;
    text-align: center;
}
